.galerija{
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

.slike{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.slike img{
    width: 23%;
    min-height: 55vh;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

/* Media Query */

@media (max-width: 768px){
    .slike{
        flex-wrap: wrap;
    }
    .slike img{
        width: 48%;
        margin-bottom: 25px;
    }
}