.galerija{
    margin: 50px auto;
    width: 90%;
}
.galerija-grid{
    display: flex;
    flex-wrap: wrap;
}
.galerija-item{
    padding: 0.5rem;
    box-sizing: border-box;
}

.item-width-3{
    width: 33.3333%;
}
.item-width-2{
    width: 50%;
}
.slika-container{
    display: block;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.slika-container:hover{
    transform: translateY(-5px);
}

.galerija-slika{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1 ;
    display: block;
    transition: 0.3 ease;
}

/* Media Query */

@media (max-width: 768px){
    .galerija-item,
    .item-width-2,
    .item-width-3 {
        width: 100%;
    }
}